*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: black;
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
}

.typed-text{
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
}

.cursor{
    display: inline-block;
    width: 3px;
    background: whitesmoke;
    margin-left: 0.1rem;
    animation: blink 1s ease-in-out infinite;
}

.cursor.typing{
    animation: none;
}

@keyframes blink{
    0%{background: whitesmoke;}
    49%{background: whitesmoke;}
    50%{background: transparent;}
    99%{background: transparent;}
    100%{background: whitesmoke;}
}